<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MyLibrary.Properties.Settings.gestdbCS" connectionString="server=192.168.177.20;User Id=ugest;password=lL@12345;Persist Security Info=True;database=gestdb0demo"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <userSettings>
        <MyLibrary.Properties.Settings>
            <setting name="Conectado" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUser" serializeAs="String">
                <value>Administrador</value>
            </setting>
            <setting name="AutoPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DtRelease" serializeAs="String">
                <value />
            </setting>
        </MyLibrary.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MyLibrary.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>192.168.177.20</value>
            </setting>
        </MyLibrary.Properties.Settings>
    </applicationSettings>
</configuration>